# This file defines the code owners for the repository.
# Code owners are automatically requested for review when someone opens a pull request.
# You can use this file to require review from specific users or teams for certain parts of the code.

# Assign HasithaErandika as the owner of all files in the repository.
# Important: To enforce restriction, enable "Require review from Code Owners" 
# in the Branch Protection Rules for the specific branch (e.g., 'main').
* @HasithaErandika
