# System specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.iml

# Node / React
node_modules/
dist/
build/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.pytest_cache/
sri_lankan_employee_ner_dataset.json

# Ballerina
target/
Config.toml
Dependencies.toml

# Docker
docker-compose.override.yml

# Environment Variables (Safety catch-all)
*.env
.env*
!.env.example
