pythonServiceUrl = "http://localhost:8000"
asgardeoTokenAudience = "EquiHire-Core"
frontendUrl = "http://localhost:5173"
asgardeoOrgUrl = "https://api.asgardeo.io/t/***********/oauth2/token"
asgardeoJwksUrl = "https://api.asgardeo.io/t/***********/oauth2/jwks"

# Brevo SMTP Configuration
smtpHost = "smtp-relay.brevo.com"
smtpPort = 587
smtpUsername = "********@smtp-brevo.com"
smtpPassword = "***********" 
smtpFromEmail = "**********@gmail.com" 

[supabase]
url = "https://your-project.supabase.co"
key = "your-anon-or-service-role-key"
